body {
  background-color: #333;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  color: white;
}
#canvas{
  border: 2px solid black;
  background-image: url("main_background_image.jpg");
}
#controller {
  font-weight: 700;
  font-size: 10vh;
  text-align: center;
  padding: 10px;
}
#left{
  margin-right: 100px;
  background-color: grey;
}
#right{
  margin-left: 100px;
  margin-top: -40px;
  background-color: grey;
}