body {
  background-color: #333;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  color: white;
}
#canvas{
  border: 2px solid black;
  background-image: url("main_background_image.jpg");
  margin-top: -20px;
}